<section>
    <div class="container">
        <div class="row mt-3 mb-4 mr-1">
            {{!-- <a class="btn btn-success ml-auto activate" href="/admin/add-product">Add Product</a> --}}
        </div>
        <table class="table mt-3" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                    <td>
                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
                        <button class="btn btn-danger" onclick="confirm('Are you sure ?') && removeUser('{{this._id}}')">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    $(document).ready( function () {
    $('#usersTable').DataTable();
} );

function removeUser(userId) 
  {
    console.log("remove user called");
    $.ajax(
      {
        url:'/admin/delete-user',
        method:'post',
        data:{
            user_id:userId
        },
        success:(response) => {
          if(response.status)
          {
            location.reload();
          }
          else{
            alert('deletion failed');
          }
        }
      }
    )
  }
</script>