<section>
    <div class="container">
        <div class="row mt-3 mb-4 mr-1">
            {{!-- <a class="btn btn-success ml-auto activate" href="/admin/add-product">Add Product</a> --}}
        </div>
        <table class="table mt-3" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                    <td>
                        {{!-- <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a> --}}
                        <a href="/admin/delete-user/{{this._id}}" class="btn btn-danger" onclick=" return confirm('Are you sure about deleting {{firstname}} ?')">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    $(document).ready( function () {
    $('#usersTable').DataTable();
} );
</script>