<section class="mt-5" style="background-color:white;">
    <div class="text-center container py-5">

        {{#each orders}}
        <div class="col-lg-12 col-md-12 mb-4 mt-3">
            <div class="card cards">
                <div class="card-body d-flex justify-content-around">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                    </div>
                    <h5 class="card-title mb-3">{{deliveryInfo.firstname}}</h5>
                    <p class="text-truncate">{{date}}</p>
                    <h6 class="mb-3">{{deliveryInfo.address}}</h6>
                    <p class="card-text">{{deliveryInfo.pincode}}</p>
                    <p class="card-text">{{deliveryInfo.mobile}}</p>
                    <p class="card-text">Rs.{{totalAmount}}/-</p>
                    <p class="card-text">{{paymentMethod}}</p>
                    <p class="card-text">{{status}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>