<section class="mt-5" style="background-color:white;">
    <div class="text-center container py-5">

        <div class="row">
        {{#each Products}}
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card cards">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="/product-images/{{this._id}}.jpg"
                            class="w-100" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3">{{title}}</h5>
                            <p class="text-truncate">{{description}}</p>
                        <h6 class="mb-3">Rs.{{price}}/-</h6>
                        <button class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to Cart</button>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</section>

<style>
    .cards {
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .cards:hover {
        box-shadow: 5px 6px 6px 2px #e9ecef;
        transform: scale(1.1);
    }
</style>